*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #010165;
    /* background-color: wheat; */
  }

.header {
    background-color: #00ffff;
    text-align: center;
}

.door-frame {
    cursor: pointer;
    padding: 10px;
}
